<!DOCTYPE html>
<HTML lang="en">
	<HEAD>
			<META charset="UTF-8">
			<META name="viewport" content="width=device-width, initial-scale=1.0">
			<title>AirBnB clone</title>
			<LINK rel="stylesheet" href="{{ url_for('static', filename='styles/3-footer.css') }}">
			<LINK rel="stylesheet" href="{{ url_for('static', filename='styles/3-header.css') }}">
			<LINK rel="stylesheet" href="{{ url_for('static', filename='styles/4-common.css') }}">
			<LINK rel="stylesheet" href="{{ url_for('static', filename='styles/6-filters.css') }}">
			<LINK rel="stylesheet" href="{{ url_for('static', filename='styles/8-places.css') }}">
			<LINK rel="icon" href="{{ url_for('static', filename='images/icon.png')}}" type="images/png">
	</head>
	<body>
		<header>
			<div class="logo"></div>
		</header>
		<div class="container">
			<section class="filters">
				<button type="button">Search</button>
				<div class="locations">
					<h3>States</h3>
					<h4 class="truncate">
						{% for state in states %}
						{{ state.name }}{% if not loop.last %}, {% endif %}
						{% endfor %}
					</h4>
					<ul class="popover">
						{% for state in states %}
						<li>
							<h2>{{ state.name }}:</h2>
							<ul class="popover_list">
								{% for city in state.cities %}
									<li>{{ city.name }}</li>
								{% endfor %}
							</ul>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="amenities">
					<h3>Amenities</h3>
					<h4 class="truncate">
						{% for amenity in amenities %}
						{{ amenity.name }}{% if not loop.last %}, {% endif %}
						{% endfor %}
					</h4>
					<ul class="popover">
						{% for amenity in amenities %}
							<li>{{ amenity.name }}</li>
						{% endfor %}
					</ul>
				</div>
			</section>
			<section class="places">
				<div class="places_title">
						<h1>Places</h1>
				</div>
				<div class="articles">
					{% for place in places %}
					<article>
						<div class="price_title">
							<div class="article_title">
								<h2>{{ place.name }}</h2>
							</div>
							<div class="price_by_night">
								<div class="price">
									${{ place.price_by_night }}
								</div>
							</div>
						</div>
						<div class="information">
							<div class="max_guest">
								<div class="guest_icon">
								</div>
								<div class="guest_number">
									<h2>{{ place.max_guest }} Guests</h2>
								</div>
							</div>
							<div class="number_rooms">
								<div class="rooms_icon">
								</div>
								<div class="rooms_number">
									<h2>{{ place.number_bathrooms }} Bedroom</h2>
								</div>
							</div>
							<div class="number_bathrooms">
								<div class="bathrooms_icon">
								</div>
								<div class="bathrooms_number">
										<h2>{{ place.number_rooms }} Bathroom</h2>
								</div>
							</div>
						</div>
						<div class="user">
							<b>Owner:</b> {{ place.user.first_name }} {{ place.user.last_name}}
						</div>
						<div class="description">
							{{ place.description }}
						</div>
						<div class="amenities">
							<h2>Amenities</h2>
							<ul>
							  <li>
								<div class="places_amenities_pet_friendly"></div>
								Pet friendly
							</li>
							  <li>
								<div class="places_amenities_tv"></div>
								Tv
							</li>
							  <li>
								<div class="places_amenities_wifi"></div>
								Wifi
							</li>
							</ul>
						  </div>
						  <div class="reviews">
							<h2>2 Reviews</h2>
							<ul>
							  <li>
								<h3>From Bob Dylan the 27th August 2022</h3>
								<p>Runshi is an epic host. Nothing more i can say. 5 star!</p>
							  </li>
							  <li>
								<h3>From Connor 4th January 2021</h3>
								<p>Higly recommended!</p>
							  </li>
							</ul>
						  </div>
					</article>
					{% endfor %}
				</div>
			</section>
		</div>
		<footer>
				Holberton School
		</footer>
	</body>
</HTML>
